{% extends "_includes/default.njk" %}

{% block title %}ALPHABOX | what's in the box?{% endblock %}

{% block content %}
{% include "_includes/header.njk" %}

<div class="container">
  <div class="square">
    <div class="content">
      <div class="alphagrid">
        <div class="griditem2 bg-gray-800 font-alphabody font-thin text-xs md:text-sm uppercase text-white p-4 flex-col">
          <p>8th Dec 23</p>
          <p class=""><a href="/releases/only-forward-ep/"  class="underline">Only Forward EP</a></p>
          <p><a href="https://www.vlsimusic.co.uk/"></a>VLSI Records</p>
          <p><a href="https://alphab0x.bandcamp.com/album/only-forward-ep" class="underline">Preorder on Bandcamp</a></p>
        </div>
        <div class="griditem font-alphabody text-xs md:text-sm uppercase text-white bg-gray-900 flex flex-col">
          <a href="/releases/only-forward-ep/"><img src="assets/img/onlyforwardartwork.jpg" alt="Only Forward EP cover "></a>
        </div>
        <div class="griditem bg-black">
          <div id="particles-js" class="w-full h-full"></div>
        </div>
        <div class="griditem bg-gray-800">
          <div>
              <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" loop muted playsinline>
              <source src="/assets/video/abletters.mp4" type="video/mp4"></source>
              </video>    
          </div>
        </div>
        <div class="griditem bg-black">
          <img src="/assets/img/alphaboxA.png" alt="Alphabox A">
        </div>
        <div class="griditem bg-black">
          <div>
              <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" loop muted playsinline>
              <source src="/assets/video/partiballs.mp4" type="video/mp4"></source>
              </video>    
          </div>
       </div>
        <div class="griditem bg-gray-800">
          <img src="assets/img/moog.jpg" alt="Alphabox live">
        </div>
        <div class="griditem bg-gray-900">
          <div>
              <video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" loop muted playsinline>
              <source src="/assets/video/blurwash.mp4" type="video/mp4"></source>
              </video>    
          </div></div>
        <div class="griditem bg-gray-800">
          <img src="assets/img/andybox.jpg" alt="Alphabox performing">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  particlesJS.load('particles-js', '/assets/config/particlesjs-config.json', function() {
  console.log('callback - particles-js config loaded');
});
</script>
{% endblock %}