{% extends "_includes/default.njk" %}

{% block title %}ALPHABOX | what's in the box?{% endblock %}

{% block content %}
<div class="container">
  <div class="square">
    <div class="content">
      <div class="alphagrid">
        <div class="griditem bg-gray-800">Helios - my main thing</div>
        <div class="griditem bg-gray-800">Only Forward EP</div>
        <div class="griditem bg-gray-800">3</div>
        <div class="griditem bg-gray-800">4</div>
        <div class="griditem bg-black">A</div>
        <div class="griditem bg-gray-800">6</div>
        <div class="griditem bg-gray-800">7</div>
        <div class="griditem bg-gray-800">8</div>
        <div class="griditem bg-gray-800">9</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}