<div class="logo font-alphahead font-thin text-3xl uppercase text-white text-center pt-8">
    <a href="/">Alphabox</a>
  </div>
<div class="font-alphabody font-thin text=sm uppercase text-white text-center">
  <p>audio visual electronica</p>  
</div>