{% extends "_includes/default.njk" %}

{% block title %}ALPHABOX | what's in the box?{% endblock %}

{% block content %}
{% include "_includes/header.njk" %}

<div class="container">
    <div class="flex flex-col max-w-xl mx-auto p-8">
        <img src="/assets/img/onlyforwardartwork.jpg" alt="Only Forward EP cover" class="md:w-1/2 mx-auto shadow">
        <h3 class="font-alphahead text-3xl font-light text-black my-8">Only Forward EP</h3>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase"><a href="https://www.vlsimusic.co.uk/" class="underline">VLSI Records</a></p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase">8th December 2023</p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase"><a href="https://alphab0x.bandcamp.com/album/only-forward-ep" class="underline">BUY DIGITAL ON BANDCAMP</a></p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase mt-4">1. Feather</p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase">2. Gateway Station</p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase">3. AE35</p>
        <p class="font-alphabody font-thin text-xs md:text-sm uppercase">4. Blythe</p>
        <p class="font-alphabody font-thin text-xs md:text-sm mt-4">A return to the old school from producer Andrew Dobson (Digitonal, Of the Night Sky) with a four track EP of melodic electronica. Only Forward is a sci-fi tinged trip through influences across the early waves of global electronica, channeling the days of EM:T, Smallfish and Worm Interface through Dobson's own knack for a catchy melody riff.</p>
        <p class="font-alphabody font-thin text-xs md:text-sm mt-4">After some compilation appearances for Rednetic Records and Radio Waters, this is the first EP under Dobson's Alphabox alias - a beats and bleeps classic in the vein of B12, Plaid and In Sides-era Orbital.</p>
    </div>
</div>
{% endblock %}